@using Microsoft.AspNetCore.Components.Web
@{
    ViewData["Title"] = "Login";
}
@model Bookstore_MVC.Models.LoginDTO

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="~/css/login.css" rel="stylesheer" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <div class="container-fluid">
                <div class="row">
            <div>
                <a href="/" class="btn btn-primary">Back</a>
            </div>
            <div class="pt-3">
                <h4>
                    Sign-in
                </h4>
            </div>
        <form asp-controller="Account" asp-action="login" enctype="multipart/form-data" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger pt-3"></div>
            <div class="form-group py-1">
                <label asp-for="Username" class="col-sm-2 col-form-label text-capitalized">Username</label>
                <div class="col-sm-10">
                    <input asp-for="Username" class="form-control" placeholder="Enter your username" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group py-1">
                <label asp-for="Password" class="col-sm-2 col-form-label text-capitalize">Password</label>
                <div class="col-sm-10">
                    <input asp-for="Password" class="form-control" placeholder="Enter your password" type="password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group py-1">
                <input asp-for="Rememberme" type="checkbox" value="true"/>
                <label asp-for="Rememberme" class="col-sm-2 col-form-label text-capitalize">Remember Me</label>
            </div>

            <div class="form-group pt-2">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
            </div>
        </form>      
        </div>
    </div>
</body>