@using Microsoft.AspNetCore.Components.Web
@{
    ViewData["Title"] = "Add Genre";
}
@model Bookstore_MVC.Models.BookGenre

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="~/css/add.css" rel="stylesheer" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <div class="container w-90">
                <div>
                <a href="/" class="btn btn-primary">Back</a>
            </div>
        <div class="pt-3">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="row">

            <form asp-controller="Admin" asp-action="AddGenre" enctype="multipart/form-data" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group py-1">
                    <label asp-for="Name" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Name" class="form-control" placeholder="Enter book genre" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group pt-2">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-success">Add Genre</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>