@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model SimpleToDoList.Models.ToDoItem
}
<!DOCTYPE html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Edit To-Do List View Page</title>
    <link rel="stylesheet" href="~/css/Todo/EditView.css">
</head>
<body>
    <div>
        <h1>Edit an item</h1>
    </div>
</body>